:root {
  --brown_black: #2d2a22;
  --brown: #7e6d53;
  --grey: #504d4d;
  --white_hot: #fcfcfb;
  --white_cold: #ede9e3;
  --white_contact: #fffefe;
  --modal-input-border: #35322d;
  --placeholder-text: #999ea3;

  // Animation for btn
  --turns-fast: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --turns-slow: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
