<section class="about" id="about">
  <h2 class="title-hidden">Philosophy of our company</h2>
  <div class="about__container-bkg">
    <div class="about__container-inner">
      <div class="container about__container-wrapper">
        <ul class="about__list">
          <li class="about__item one">
            <p class="about__text">15 years of experience</p>
          </li>
          <li class="about__item two">
            <p class="about__text">30 thousand happy residents</p>
          </li>
          <li class="about__item tree">
            <p class="about__text">22 houses built</p>
          </li>
          <li class="about__item four">
            <p class="about__text">9 awards</p>
          </li>
        </ul>
        <div class="about__container-right">
          <h3 class="about__title-right">
            Philosophy of our company
          </h3>
          <p class="about__title-heading">
            Residential complex “Nice view” is an island of tranquility,security and comfort.
            In our project, we created the opportunity to lead a measured life in the very center of the city.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
