<section class="apart" id="apartments">
  <div class="appart_wrapper">
    <div class="apart_box container">
      <h2 class="apart__head">Choose your apartment</h2>
      <div class="apart__cards">
        <div class="apart__switch">
          <div class="apart__card">
            <button type="button" class="apart__card__button" data-a-modal-open>
              <picture>
                <source
                  srcset="
                    ./img/apartments/1apart_l@1x.png 1x,
                    ./img/apartments/1apart_l@2x.png 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./img/apartments/1apart_m@1x.png 1x,
                    ./img/apartments/1apart_m@2x.png 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/apartments/1apart_s@1x.png 1x,
                    ./img/apartments/1apart_s@2x.png 2x
                  "
                  media="(min-width:480px)"
                />
                <img
                  class="apart__caption"
                  src="./img/apartments/1apart_s@1x.png"
                />
              </picture>
              <h3 class="apart__title">Type 1</h3>
              <p class="apart__text">total area 23 meters</p>
            </button>
          </div>
          <div class="apart__card">
            <button type="button" class="apart__card__button" data-a-modal-open>
              <picture>
                <source
                  srcset="
                    ./img/apartments/2apart_l@1x.png 1x,
                    ./img/apartments/2apart_l@2x.png 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./img/apartments/2apart_m@1x.png 1x,
                    ./img/apartments/2apart_m@2x.png 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/apartments/2apart_s@1x.png 1x,
                    ./img/apartments/2apart_s@2x.png 2x
                  "
                  media="(min-width:480px)"
                />
                <img
                  class="apart__caption"
                  src="./img/apartments/1apart_s@1x.png"
                />
              </picture>
              <h3 class="apart__title">Type 2</h3>
              <p class="apart__text">total area 27 meters</p>
            </button>
          </div>
        </div>
        <div class="apart__card">
          <button type="button" class="apart__card__button" data-a-modal-open>
            <picture>
              <source
                srcset="
                  ./img/apartments/3apart_l@1x.png 1x,
                  ./img/apartments/3apart_l@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/apartments/3apart_m@1x.png 1x,
                  ./img/apartments/3apart_m@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/apartments/3apart_s@1x.png 1x,
                  ./img/apartments/3apart_s@2x.png 2x
                "
                media="(min-width:480px)"
              />
              <img
                class="apart__caption"
                src="./img/apartments/1apart_s@1x.png"
              />
            </picture>
            <h3 class="apart__title">Type 3</h3>
            <p class="apart__text">total area 31 meters</p>
          </button>
        </div>
      </div>
      <button type="button" class="apart__button" data-download-modal-open>
        Download catalog
      </button>
    </div>
  </div>
</section>
