<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Get in touch!</h2>
    <p class="contacts__heading">Contact us for a quote.</p>
    <div class="contacts__box">
      <address class="contacts__address-box">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://goo.gl/maps/mDJmjuG7h8efUbJS8"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__icon" width="24" height="24">
                <use href="./img/svg-sprite/icons.svg#geo"></use>
              </svg>
              <span class="contacts__text">4517 Washington Ave.</span></a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:willie.jennings@example.com">
              <svg class="contacts__icon" width="24" height="24">
                <use
                  href="./img/svg-sprite/icons.svg#arcticons_spike-email"
                ></use>
              </svg>
              <span class="contacts__text">willie.jennings@example.com</span></a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="tel:(+33)700555479">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./img/svg-sprite/icons.svg#phone"></use>
              </svg>
              <span class="contacts__text">+(+33)7 00 55 54 79</span></a
            >
          </li>
        </ul>
      </address>
      <button
        type="button"
        class="button-contactus btn-contacts"
        data-modal-open
      >
        Contact us
      </button>
    </div>
  </div>
</section>
