<section class="infrastructure" id="infrastructure">
  <div class="infrastructure-box container">
    <h2 class="infrastructure__title">Infrastructure</h2>
    <div class="infrastructure-content">
      <ul class="infrastructure__list">
        <li class="infrastructure__item">
          <p class="infrastructure__item-time">2 minutes walk</p>
          <p class="infrastructure__item-place">to the supermarket</p>
        </li>
        <li class="infrastructure__item">
          <p class="infrastructure__item-time">4 minutes walk</p>
          <p class="infrastructure__item-place">to the coffee shop</p>
        </li>
        <li class="infrastructure__item">
          <p class="infrastructure__item-time">7 minutes walk</p>
          <p class="infrastructure__item-place">to the nearest park</p>
        </li>
      </ul>
    </div>
  </div>
</section>
