<div class="backdrop is-hidden" data-a-modal>
<div class="modal__apart">
    <button class="modal__x" data-a-modal-close>
        <svg class="modal__apart__close" width="30" height="30"><use href="./img/svg-sprite/icons.svg#icon-close-btn"></use></svg>
    </button>
    <h2 class="modal__apart__head">House 1</h2>
    <div class="modal__switch">
        <div class="blok1">
            <picture>
                <source srcset="./img/apartments/apart_modal_m@1x.png 1x, ./img/apartments/apart_modal_m@2x.png 2x" media="(min-width:768px)"/>
                <source srcset="./img/apartments/apart_modal_s@1x.png 1x, ./img/apartments/apart_modal_s@2x.png 2x" media="(min-width:480px)"/>
                <img class="modal__apart__img" src="./img/apartments/apart_modal_s@1x.png">
            </picture>
        </div>
        <div class="block2">
            <p class="modal__apart__text modal__apart__text--m4">Total area:  50.2 m2</p>
            <p class="modal__apart__text modal__apart__text--m12">Rooms:  1</p>
            <p class="modal__apart__text modal__text--weight modal__apart__text--m8">from 1000 dol/m2</p>
            <p class="modal__apart__text modal__text--size modal__apart__text--m18">about  50 200 dollars</p>
            <button type="submit" class="modal__apart__button">Contact us</button>
        </div>
    </div>
</div>
</div>