.about {
  padding-top: 60px;
  @media screen and(min-width:768px) {
    padding-top: 100px;
  }
}
.title-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.about__container-bkg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 677px;
  background-image: url('../img/about/about-sm@1x.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../img/about/about-sm@2x.jpg');
  }

  // tabl
  @media screen and (min-width: 768px) {
    height: 630px;
    background-image: url('../img/about/about-m@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../img/about/about-m@2x.jpg');
    }
  }

  // desktop
  @media screen and (min-width: 1280px) {
    background-image: url('../img/about/about-lg@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../img/about/about-lg@2x.jpg');
    }
  }
}
.about__title-right {
  color: #2d2a22;
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
  }
}

.about__container-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 32px;

    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 134px;
    padding-right: 134px;
    padding-bottom: 44px;
    padding-top: 44px;
    gap: 122px;
  }
}
.about__container-inner {
  background: #fcfcfb;
  opacity: 0.9;
}

.about__list {
  margin-bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 27px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc((100% - 20px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 27px) / 2);
    margin-bottom: 65px;
  }

  &:last-child,
  &:nth-last-child(2) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &:before {
    width: 32px;
    height: 32px;
  }
}

.about__container-right {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    width: 393px;
  }
}

.about__title-heading {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.one,
.two {
  height: 104px;
}
.tree,
.four {
  height: 80px;
}
@media screen and (min-width: 1280px) {
  .one,
  .two,
  .tree,
  .four {
    height: 80px;
  }
}

.one::before {
  content: url(../img/about/suitcase.png);
}

.two::before {
  content: url(../img/about/graph.png);
}

.tree::before {
  content: url(../img/about/house.png);
}

.four::before {
  content: url(../img/about/award.png);
}
