.gallery {
  padding-top: 60px;
  @media screen and(min-width:768px) {
    padding-top: 100px;
  }
}
.gallery__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;

  color: var(--brown);

  @media screen and (min-width: 1280px) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.swiper-container {
  //Добавляет стили для стрелок переключения картинок

  margin-right: -20px;
  margin-left: -20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: -32px;
    margin-right: -32px;
  }
}
.swiper {
  // colors
  --swiper-theme-color: #000000;
  // navigation
  --swiper-navigation-size: 24px;
  // pagination
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: var(--swiper-pagination-bullet-width);
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-inactive-opacity: 1;

  @media screen and (min-width: 320px) {
    padding-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-horizontal-gap: 8px;

    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 66px;
    padding-right: 66px;
    padding-bottom: 25px;
  }
}
// Добавляет стили для пагинации
.swiper-pagination-bullet {
  background-color: #c4c4c4;
  border: 1px solid transparent;
}
.swiper-pagination-bullet-active {
  border: 1px solid var(--brown);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -4px;

  @media screen and (min-width: 1280px) {
    bottom: 0;
  }
}
